.coding-language-section {
  margin-top: 2em;
  margin-bottom: 2em;
  
  h3 {
    font-size: 1.3em;
    margin-bottom: 2em;
    font-weight: bold;

    @include mobile {  
      font-size: 1.1em;  
      text-align: center;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .coding-language-box {
      display: flex;
      align-items: center;
      width: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
      
      p {
        margin: 0px;
        padding-left: 15px;
      }
    }
  
    .coding-language-logo {
      height: 55px;
  
      @include mobile {    
        height: 45px;
      }
    }
  }
}