.contact-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include mobile_and_tablet {
    align-items: center;
  }

  .form-content {
    input, textarea {
      width: 100%;
      padding: 5px 15px;
      margin-bottom: 1em;
      font-size: 1.1em;
      border: 1px solid black;
      border-radius: 25px;

      &:focus {
        border: none;
        outline: none;
        border-color: var(--prim-color);
        box-shadow: 0 0 15px var(--prim-color);
      }
    }
  }






  .form-button {
    width: 150px;
    padding: 5px 15px;
    margin-top: 1em;
    font-size: 1.1em;
    background-color: var(--lighter-prim-color);
    color: var(--basic-color-dark);
    border: none;
    border-radius: 25px;
  }
}



// .email-content {
//   position: relative;
//   border-bottom: 1px solid yellow;
// }

#not-mail {
  display: none;
  position: absolute;
  top: 8px;
  color: red;
  right: 0;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


.error::placeholder {
  color: red;
}

.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  background: yellow;
  transition: 0.3s ease;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}

