.contact-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include mobile_and_tablet {
    align-items: center;
  }

  .form-content {
    input, textarea {
      width: 100%;
      padding: 5px 15px;
      margin-bottom: 1em;
      font-size: 1.1em;
      border: 1px solid black;
      border-radius: 25px;

      &:focus {
        border: none;
        outline: none;
        border-color: var(--prim-color);
        box-shadow: 0 0 15px var(--prim-color);
      }
    }

    .error::placeholder {
      color: var(--danger-color);
    }
  }

  .name-content, .email-content, .subject-content, .message-content {
    position: relative;
  }

  #name-label, #mail-label, #subject-label, #message-label {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--danger-color);
    transform-origin: 50% 50%;
  }
  
  @keyframes dongle {
    0% {
      transform: translate(0px, 0px);
    }
    10% {
      transform: translate(-10px, 0px);
    }
    20% {
      transform: translate(10px, 0px);
    }
    30% {
      transform: translate(-10px, 0px);
    }
    40% {
      transform: translate(10px, 0px);
    }
    50% {
      transform: translate(-10px, 0px);
    }
    60% {
      transform: translate(10px, 0px);
    }
    70% {
      transform: translate(-10px, 0px);
    }
    80% {
      transform: translate(10px, 0px);
    }
    90% {
      transform: translate(-10px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .form-notification {
    margin-top: 10px;
    padding: 12px;
    opacity: 0;
    transition: 0.5s ease;
    color: var(--basic-color-dark);
    border-radius: 4px;
    box-shadow: 0 0 2px var(----shadow-color1);
  }
  
  .empty-field {
    background-color: var(--danger-bg-color);
    color: var(--danger-color);
    opacity: 1;
  
    &::after {
      content: "Please fill in all the fields";
    }
  }

  .sending {
    background-color: var(--warning-bg-color);
    color: var(--warning-color);
    opacity: 1;
  
    &::after {
      content: "Sending...";
    }
  }

  .sent {
    background-color: var(--success-bg-color);
    color: var(--success-color);
    opacity: 1;
  
    &::after {
      content: "Your message was sent successfully";
    }
  }

  .http-error {
    background-color: var(--danger-bg-color);
    color: var(--danger-color);
    opacity: 1;
  
    &::after {
      content: "An error occured. Please try again!";
    }
  }

  .form-button {
    width: 150px;
    padding: 5px 15px;
    margin-top: 1em;
    font-size: 1.1em;
    background-color: var(--basic-color-light);
    color: var(--basic-color-dark);
    border: 1px solid var(--prim-color);
    border-radius: 25px;

    &:hover {
      transform: scale(1.1);
    }
  }
}



