.dark-mode-btn {
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label, input[type=checkbox]:checked + label {
    width: 30px;
    display: inline-block;
    transform: translateY(-5px);

    @include mobile_and_tablet {
      display: none;
    }
  }

  img.darkmode-logo {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}