.experience-component {
  margin-bottom: 2em;

  .title {
    font-size: 1.2em;
    font-weight: bold;

    @include mobile {
      font-size: 1.1em;
    }
  }

  .location-date {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5em;

    .location {
      font-size: 1.05em;
  
      @include mobile {
        font-size: 0.9em;
      }

      margin: 0;
      color: var(--third-color);
    }

    span {
      height: 20px;
      width: 2px;
      border-radius: 50px;
      background-color: var(--basic-color-dark);
      margin: 0 10px;
      align-self: center;
    }

    .date {
      margin: 0;
    }
  }

  .description {
    display: block;
  }
}