.experience-component {
  display: block;

  .title {
    font-size: 1em;
  }

  .location-date {
    display: flex;

    // .location {
      
    // }

    // .date {

    // }
  }

  .description {
    display: block;
  }
}