.languages-tools-section {
  margin-bottom: 3em;


  
  h3 {
    font-size: 1.3em;
    margin-bottom: 1em;
    font-weight: bold;

    @include mobile {    
      margin-bottom: 0.4em;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .language-tool-box {
      display: flex;
      align-items: center;
      width: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
      
      p {
        margin: 0px;
        padding-left: 8px;
      }
    }
  
    .language-tool-logo {
      height: 50px;
  
      @include mobile {    
        height: 35px;
      }

      @include mobile {    
        height: 45px;
      }
    }
  }
}