.navigation {
  margin: -20px -45px;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mobile {
    padding: 30px 20px;   
  }

  @include tablet {
    padding: 30px 40px;   
  }
  
  .logo {
    width: 60px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 50px;

    @include mobile_and_tablet {
      display: none;
    }

    a {
      font-size: 1.3em;
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      position: relative;
  
      &::after {
        content: "";
        width: 0;
        height: 5px;
        background: var(--prim-color);
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease;    
      }
  
      &:hover {
        &::after {
          width: 85%;
        }
      }
    }
  
    .active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background: var(--prim-color);
        position: absolute;
        bottom: 1px;
        left: 50%;
      }
    }
  }
}
