
.project-card {
  height: 250px;
  border-radius: 20px;

  @include mobile {
    height: 300px;
  }

  @include small_mobile {
    height: 200px;
  }

  &:hover {
    .flip-card-inner {
      transform: rotateY(180deg);
    }
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 20px;
    border: 2px solid var(--prim-color);

    .flip-card-front {
      img {
        width: 100%;
        height: 100%;
        border-radius: 17px;
      }
    }

    .flip-card-back {
      background-color: var(--basic-color-white);
      color: var(--basic-color-dark);
      padding: 10px;
      transform: rotateY(180deg);

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
        width: 150px;   
        border: none;
        border-radius: 40px;
        padding: 10px;
        background-color: var(--third-color);
        color: var(--basic-color-dark);
      }
    }

    .flip-card-front, .flip-card-back {
      border-radius: 17px;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }   
  }
}





