.spoken-languages-section {
  margin-bottom: 3em;

  h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: bold;

    @include mobile {    
      margin-bottom: 0.4em;
    }
  }

  .content {
    padding-top: 1em;

    .language-box {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1em;

      p {
        margin: 0px;
        padding-right: 10px;
        width: 35%;

        @include mobile {
          width: 35%;
        }

        @include tablet {
          width: 20%;
        }
      }

      .language-rating {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;

        @include mobile {
          width: 55%;
        }

        @include tablet {
          width: 40%;
        }

        .language-circle {
          width: 30px;
        }
  
        .language-dot {
          width: 15px;
        }
      }
    }
  }
}