.contact{
  margin: 30px 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {    
    margin: 30px 10px;
  }

  .contact-card {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: stretch;
    border: 1px solid var(--basic-color-dark);
    min-height: 70vh;
    min-width: 70vw;

    @include mobile {
      flex-direction: column;
      margin-top: -10px;   
      margin-bottom: -10px;   
      margin-left: -30px;
      margin-right: -30px;    
      padding: 10px;
    }

    @include tablet {
      flex-direction: column;
      margin-left: 45px;
      margin-right: 45px;
      padding: 20px;
    }

    .card-left, .card-right {
      padding-left: 30px;
      padding-right: 30px;
    }

    .card-left {
      width: 40%;
      padding-top: 6em;
      background-color: var(--lighter-prim-color);

      @include mobile_and_tablet {
        width: 100%;
        padding: 0px;
        background-color: transparent;
        margin-bottom: 2em;
      }

      h1 {
        font-size: 3em;
    
        @include mobile {    
          font-size: 2rem; 
          text-align: center;
        }

        @include tablet {    
          text-align: center;
        }
      }

      p {
        margin-top: 1em;
        margin-bottom: 1.3em;
        font-size: 1.3rem; 
        text-align: justify;
  
        @include mobile_and_tablet {   
          font-size: 1.1rem; 
          text-align: center; 
        }
      }

      .contact-means {
        display: flex;
        margin-top: 1em;

        @include mobile_and_tablet {    
          margin: 0;
          justify-content: center;
        }

        .contact-logo {
          height: 40px;
  
          @include mobile {    
            height: 30px;
          }
  
          &:hover {
            transform: scale(1.1)
          }
        }
      }
    }

    .card-right {
      width: 60%;
      display: flex;
      
      @include mobile_and_tablet {
        width: 100%;
        padding: 0px;
      }
    }
  }
}


