.home {
  margin: 30px 45px;

  .presentation {
    .presentation-name {
      font-size: 3em;
      line-height: 1.6em;

      strong {
        font-size: 1.5em;
      }
    }

    .networks {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-top: 2em;

      .social-network-logo {
        width: 55px;
      }
    }
  }

  .illustration {
    width: 45%;
  }
}