.portfolio {
  margin: 20px -45px;
  padding: 27px 50px;
  min-height: 100vh;

  @include mobile_and_tablet {
    padding: 30px 20px;   
  }

  h1 {
    margin-left: 50px;
    margin-right: 50px;
    @include mobile {
      text-align: center;
    }
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
  }
}

